/* these are the css properties for the route bar, and the new route box */
.row#newroute {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#newroute { /* the blue bar that contains the buttons */
    background-color: darkblue;
    color: #cc6600;
    font-size: 150%;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-top: -5px;
    position: absolute;
    left: 0px;
}

.newroute-group { /* the route button and the clear button */
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-mapmarker,
.btn-mapmarker:active,
.btn-mapmarker:focus { /* the map marker icon */
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: darkblue;
    border-color: darkblue;
    color: #cc6600;
    font-size: 150%;
}

.btn-mapmarker:hover {
    color: #e6e6e6;
    background-color: darkblue;
    border-color: darkblue;
}


.btn-newroute:hover,
.btn-newroute:active,
.btn-newroute:focus,
.btn-route:hover,
.btn-route:active,
.btn-route:focus {
    background-color: darkblue;
    border-color: darkblue;
    color: #e6e6e6;
}

.btn-newroute:disabled,
.btn-route:disabled {
    background-color: #DB944D;
    border-color: #DB944D;
    color: darkblue;
}

.btn-mapmarker {
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: darkblue;
    border-color: darkblue;
    color: #cc6600;
    font-size: 150%;
}

.btn-newroute,
.btn-route,
.btn-login {
    background-color: #cc6600;
    border-color: #cc6600;
    color: #e6e6e6;
    width: 100px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    font-size: 15pt;
    font-weight: 200;
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-newroute:hover,
.btn-newroute:active,
.btn-newroute:focus,
.btn-route:hover,
.btn-route:active,
.btn-route:focus {
    background-color: darkblue;
    border-color: darkblue;
    color: #e6e6e6;
}

.btn-newroute:disabled,
.btn-route:disabled {
    background-color: #DB944D;
    border-color: #DB944D;
    color: darkblue;
}
