/* This is the css for the map, the map buttons, and the floor plan */

.map-group { /* button group for the map */
    width: 100%;
}

.row#mapbuttons {
    margin-left: 0px;
    margin-right: 0px;
}

#mapbuttons {
    width: 100%;
    position: absolute;
    left: 1%;
    top: 90%;
}

.btn-map,
.btn-map:active,
.btn-map:focus {
    height: 45px;
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: darkblue;
    border-color: darkblue;
    border-radius: 25px;
    color: #e6e6e6;
    font-size: 13pt;
}

.btn-map:hover,
.btn-floor:hover {
    background-color: #cc6600;
    border-color: #cc6600;
}

.btn-map:disabled,
.btn-schedule:disabled {
    background-color: #4d4dae;
    border-color: #4d4dae;
    color: darkblue;
}

.btn-floor,
.btn-floor:active,
.btn-floor:focus {
    width: 100%;
    height: 40px;
    font-size: 13pt;
    background-color: darkblue;
    border-color: darkblue;
    border-radius: 25px;
    color: #e6e6e6;
}

#map,
.mapcontainer,
.floorplan-container {
    border: 5px;
    border-top-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #cc6600;
    padding-bottom: 10px;
}

.mapcontainer {
    height: 80vh;
    margin-top: 55px;
}

.floorplan-container {
    border-top-style: solid;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    height: 70vh;
}

.floorplan-container {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}
