<!--web application -->

<!DOCTYPE HTML>
<title>BYU Get Me There</title>
<head>
    <meta charset='utf-8' name='viewport' content='width=device-width, height=device-height, initial-scale=1'>
    <!-- css files -->
    <link href='http://fonts.googleapis.com/css?family=Lato|Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='/static/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/static/css/custom.css'>
    <link rel='stylesheet' href='/static/css/login-rb.css'>
    <link rel='stylesheet' href='/static/css/map-fp.css'>
    <link rel='stylesheet' href='/static/css/buttons.css'>
    <!-- javascript files -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="/static/js/markerwithlabel.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/map.js"></script>
</head>

<body ng-app='ByuGetMeThereApp'>
<div ng-controller='menuController' id="controller">
<!-- top menu bar -->
<div class='navbar-fixed-top' id='menubar'>
    <div class='row'>
        <!-- menu btn -->
        <div class='col-xs-4' id='menubtn'>
            <a ng-click='toggleMenu()'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </a>
        </div>
        <div class='col-xs-4' id='logo'><img src="/static/images/logo.png"></div>
        <!-- login option -->
        <div class='col-xs-4' style='padding-top:3px'>
            <div ng-click='toggleLogin()' onclick='closeRouteBox()' ng-if='!userInfo.currentUser' id='login'>Login</div>
            <div ng-click='logout()' ng-if='userInfo.currentUser' id='login'>Logout</div>
        </div>
    </div> 
</div> <!-- end of top menu bar -->

<!-- login page -->
<div class='popup' ng-if='state.loginOpen' id='loginpage'>
    <div class='row' ng-if='userInfo.errorMessage!=""'>
        <div class='col-xs-12'><p>{{userInfo.errorMessage}}</p></div>
    </div>
    <div class='row' ng-if='userInfo.errorMessage==""'>
        <div class='col-xs-12'><p>Welcome to BYU Get Me There!</p></div>
    </div>
    <div id='logininput'>
        <div class='row'>
            <div class='col-xs-12'>
                <input class='form-control' type='text' ng-model='userInfo.username' placeholder="Username">
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'>
                <input class='form-control' type='password' ng-model='userInfo.password' placeholder='Password'>
            </div>
        </div>
    </div> <!-- end of login input boxes -->
    <div class='row' id='loginbuttons'>
        <div class='col-xs-12'>
            <div class='buttongroup login-group'>
                <button type='button' class='btn btn-login' ng-click='toggleLogin()'>Close</button>
                <button type='button' class='btn btn-login' ng-click="register()">Register</button>
                <button type='button' class='btn btn-login' ng-click="login()">Login</button>
            </div>    
        </div>
    </div> <!-- end of login buttons -->
</div> <!-- end of login page -->

<!-- options page -->   
<div ng-if='state.menuOpen' class='section' id='optionspage'>
    <div id='options'>
        <ul class='list-unstyled' id='optionslist'>
            <li><a ng-click='toggleMenu()' href='#directions'>Get Directions</a></li>
            <li><a ng-click='toggleMenu()' href='#schedule'>Map Schedule</a></li>
            <li><a ng-click='toggleMenu()' href='#campus'>Campus Links</a></li>
            <li><a ng-click='toggleMenu()' href='#building'>Building Info</a ></li>
            <li><a ng-click='toggleMenu()' href='#about'>About Us</a></li>
        </ul>
    </div>
    <div class='row' id='optionslogo'><img src='/static/images/optionslogo.png'></div>
</div> <!-- end of options page -->

<!-- directions: map and route options -->
<div class='section' id='directions'>
    <!-- new route menu -->
    <div class='row' id='newroute'>
        <div class='col-xs-4' style='text-align:left'>
            <button class='btn btn-mapmarker' type='button' onclick="findMyLocation()">
                <span class='glyphicon glyphicon-map-marker'></span>
            </button>
        </div>
        <div class='col-xs-8' style='text-align:right'>
            <div class='buttongroup newroute-group'>
                <button class='btn btn-newroute route' type='button' ng-click="toggleRouteBox()"
                        onclick="toggleRouteBox()">Route</button>
                <button type='button' class='btn btn-newroute clear' onclick="clearRoute()">Clear</button> 
            </div>
        </div>
    </div> <!-- end of new route menu -->

    <!-- Route Box, only visible if the Route button is clicked -->
    <div class='popup' style='visibility:hidden' id='routebox'>
        <div class='row error'>
            <div class='col-xs-12'><p>{{getRoute()}}</p></div>
        </div>
        <div id='routeinput'>
            <div class='row'>
                <div class='col-xs-12'>
                    <select id='Start' ng-model='routeInfo.startPoint'>
                        <option disabled>Start</option>
                        <option value='currentLocation'>Current Location</option>
                        <option ng-repeat='building in buildings.buildingList' value='{{building.id}}'>
                            {{building.id}} - {{building.name}}</option>
                    </select>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    <!-- <input class='form-control' type='text' ng-model='routeInfo.endPoint' placeholder='End'> -->
                    <select ng-model='routeInfo.endPoint'>
                        <option disabled>End</option>
                        <option ng-repeat='building in buildings.buildingList' value='{{building.id}}'>
                            {{building.id}} - {{building.name}}</option>
                    </select>
                </div>
            </div>
        </div> <!-- end of route box input fields -->
        <div class='row' id='routeboxbuttons'>
            <div class='col-xs-12' style='text-align:center'>
                <div class='buttongroup'>
                    <button type='button' class='btn btn-route' ng-click="toggleRouteBox()"
                            onclick="toggleRouteBox()">Cancel</button>
                    <button type='button' class='btn btn-route'
                        onclick="getMyCoords(angular.element(document.getElementById('controller')).scope(),false), getRoute(angular.element(document.getElementById('controller')).scope())">Get Route</button>
                    <button type='button' class='btn btn-route' onclick="clearRoute()">Clear</button>
                </div>
            </div>
        </div> <!-- end of route box buttons -->
   </div> <!-- end of Route Box -->   

    <!-- back to map -->
    <div class='container mapcontainer' id='map'></div>
    <!-- map buttons -->
    <div class='row' id='mapbuttons'>
        <div class='col-xs-12' style='text-align:center'>
            <div class='buttongroup map-group'>
                <button type='button' class='btn btn-map' 
                        ng-disabled='routeInfo.lastEndPoint==""' onclick="goTo('building')">Building Info</button>
                <button type='button' class='btn btn-map' 
                        ng-disabled='routeInfo.lastEndPoint==""' onclick="goTo('floorplan')">Floor Plan</button>
                <button type='button' class='btn btn-map' ng-disabled='!userInfo.currentUser'>Save Route</button>
            </div>
        </div>
    </div> <!-- end of map buttons -->
</div> <!-- end of directions section -->

<div ng-if='routeInfo.lastEndPoint!=""' class='section' id='floorplan'>
<!-- <div class='section' id='floorplan'> -->
    <h3>Floor Plan: {{buildingInfo.selected}} {{floorplans.currentFloor+1}}</h3>
    <div class='row' style='margin-bottom:10px'>
        <div class='col-xs-4' style='text-align:left'>
            <button type='button' class='btn btn-floor' ng-click='previousFloor()'>Previous Floor</button>
        </div>
        <div class='col-xs-4' style='text-align:center'>
            <button type='button' class='btn btn-floor' onclick='goTo("map")'>Back to Map</button>
        </div>
        <div class='col-xs-4' style='text-align:right' >
            <button type='button' class='btn btn-floor' ng-click='nextFloor()'>Next Floor</button>
        </div>
    </div>
    <div class='container floorplan-container'>   
        <img content='user-scalable=yes, min-scale=0.5, max-scale=2' src='{{floorplans.list[floorplans.currentFloor]}}'
             alt='Sorry. Floor plans for this building are unavailable.'>
    </div>
</div>

<div class='section' id='schedule'>
     <!-- add course page -->
    <div class='popup' id='newclasspage' ng-if='state.courseDialogOpen'>
        
        <div class='row error' ng-if='newcourse.errorMessage!=""'>
            <div class='col-xs-12'>
                <p>{{newcourse.errorMessage}}</p>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'>
                <p>Enter a new class here</p>
            </div>
        </div>
        <!-- course name input -->
        <div class='row newclassrow'>
            <div class='col-xs-12'>
                <input class='form-control' type='text' ng-model='newcourse.name' placeholder="Course Name">
            </div>
        </div> <!-- end of course name input -->
        <!-- time of class input-->
        <div class='row newclassrow'>
              <div class='col-xs-4'>
                <select ng-model='newcourse.hour'>
                    <option disabled>Hour</option>
                    <option ng-repeat='hour in time.hoursList' value='{{hour}}'>{{hour}}</option>
                </select>
              </div>
              <div class='col-xs-4'>
                <select ng-model='newcourse.minute'>
                    <option disabled>Minute</option>
                    <option ng-repeat='minute in time.minutesList' value='{{minute}}'>{{minute}}</option>
                </select>
              </div>
              <div class='col-xs-4'>
                <select ng-model='newcourse.ampm'>
                    <option disabled>AM/PM</option>
                    <option ng-repeat='ampm in time.ampm' value='{{ampm}}'>{{ampm}}</option>
                </select>
              </div>
        </div> <!-- end of time input -->
        <!-- days of week input-->
        <div class='row newclassrow'>
            <div class='col-xs-12'><div id='daysbuttons'>
                Su:<input type="checkbox" ng-model='newcourse.days[0]'>
                M: <input type="checkbox" ng-model='newcourse.days[1]'>
                Tu:<input type="checkbox" ng-model='newcourse.days[2]'>
                W: <input type="checkbox" ng-model='newcourse.days[3]'>
                Th:<input type="checkbox" ng-model='newcourse.days[4]'>
                F: <input type="checkbox" ng-model='newcourse.days[5]'>
                Sa:<input type="checkbox" ng-model='newcourse.days[6]'>
            </div></div>
        </div> <!-- end of days of the week input -->
        <!-- building input-->
        <div class='row newclassrow'>
            <div class='col-xs-4'>
                <input class='form-control' type='text' ng-model='newcourse.room' placeholder="Room #" />
            </div>
            <div class='col-xs-8' style='margin-top:5px'>
                <select ng-model='newcourse.building_id'>
                    <option disabled>Building</option>
                    <option ng-repeat='building in buildings.buildingList' value='{{building.id}}'>
                        {{building.id}} - {{building.name}}</option>
                </select>
            </div>
        </div> <!-- end of building input -->
        <!-- buttons for new class popup -->
        <div class='row newclassrow'>
            <div class='col-xs-12' style='text-align:center'>
                <div class='buttongroup'>
                    <button type='button' class='btn btn-newclass' ng-click="toggleCourseDialog()">Close</button>
                    <button type='button' class='btn btn-newclass' ng-click="addCourse()">Add Course</button>
                    <button type='button' class='btn btn-newclass' ng-click="clearTentativeCourse()">Clear</button>
                </div>
            </div>
        </div> <!-- end of new course popup buttons -->
    </div> <!-- end of new course popup -->
    
    <div class='popup' ng-if='state.minusClicked'>
        <div class='row'>
            <div class='col-xs-9' style='margin-top:5px'>
                Are you sure you want to remove this class?
            </div>
            <div class='col-xs-3'>
                <button class='btn btn-ok' type='button' ng-click='removeCourse()'>Ok</button>
            </div>
        </div>
    </div>
    <div class='container'>
        <h3>Your Schedule</h3>
        <div class='row'>
            <div class='col-xs-2' style='text-align:center'>
                <button class='btn btn-rmclass' type='button' ng-click='showPrevSchedule()'>
                    <span class="glyphicon glyphicons-arrow-left"></span>
                </button>
            </div>
            <div class='col-xs-8' style='text-align:center'>
                $(Monday)
            </div>
            <div class='col-xs-2'style='text-align:center'>
                <button class='btn btn-rmclass' type='button' ng-click='showNextSchedule()'>
                    <span class="glyphicon glyphicons-arrow-right"></span>
                </button>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-2' style='text-align:center'>
                <button class='btn btn-rmclass' type='button' ng-click='toggleOkDialog()'>
                    <span class="glyphicon glyphicon-minus-sign"></span>
                </button>
            </div>
            <div class='col-xs-10'>$(name) - $(building_id) $(room)<br>$(days) - $(time)</div>  
        </div>
        <div class='row'>
            <div class='col-xs-2' style='text-align:center'>
                <button class='btn btn-addclass' type='button' ng-click='toggleCourseDialog()'>
                    <span class='glyphicon glyphicon-plus-sign'></span>
                </button>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12' style='text-align:center'>
                <button type='button' class='btn btn-schedule' ng-click='newSchedule()'>
                    New Schedule</button>
            </div>
            <div class='col-xs-12' style='text-align:center'>
                <button type='button' ng-disabled='!userInfo.currentUser' class='btn btn-schedule' ng-click='loadSchedules()'>
                    Load Schedule</button>
            </div>
            <div class='col-xs-12' style='text-align:center'>
                <button type='button' ng-disabled='!userInfo.currentUser' class='btn btn-schedule' ng-click='saveSchedule()'>
                    Save Schedule</button>
            </div>
            <div class='col-xs-12' style='text-align:center'>
                <button type='button' class='btn btn-schedule'>
                    Map Schedule</button>
            </div>
        </div>
    </div>
</div>

<div class='section' id='campus'>
    <div class='container'>
        <h3>Campus Links</h3>
        <!-- links to various campus offices -->
        <div class='row'>
            <div class='col-xs-6 campus-info'>
                BYU Home Page
            </div>
            <div class='col-xs-6 campus-link'>
                <a href='http://home.byu.edu/home/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6 campus-info'>
                Contact BYU
            </div>
            <div class='col-xs-6 campus-link'>
                <a href='http://home.byu.edu/home/contact/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6 campus-info'>
                Lost and Found
            </div>
            <div class='col-xs-6 campus-link'>
                <a href='https://lostandfound.byu.edu/content/lost-and-found-contact-information'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6 campus-info'>
                WSC Information Desk
            </div>
            <div class='col-xs-6 campus-link'>
                <a href='https://wscinfodesk.byu.edu/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6 campus-info'>
                ID Center
            </div>
            <div class='col-xs-6 campus-link'>
                <a href='https://idcenter.byu.edu/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6 campus-info'>
                BYU Counseling Center
            </div>
            <div class='col-xs-6 campus-link'>
                <a href='https://caps.byu.edu/paperwork'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6 campus-info'>
                University Advisement
            </div>
            <div class='col-xs-6 campus-link'>
                <a href='https://universityadvisement.byu.edu/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6 campus-info'>
                Career Services
            </div>
            <div class='col-xs-6 campus-link'>
                <a href='https://ucs.byu.edu/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6 campus-info'>
                CougarEat
            </div>
            <div class='col-xs-6 campus-link'>
                <a href='http://dining.byu.edu/cougareat/hours.html'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <!-- campus advisement centers drop down list -->
        <div class='row' style='padding-top:10px'>
            <div class='col-xs-12' style='text-align:center'>
                <div class='dropdown'>
                    <button class='btn btn-dropdown dropdown-toggle' type='button' 
                            id='campus-dropdown' data-toggle='dropdown' aria-expanded='true' style='width:100%'>
                        Campus Advisement Centers
                        <span class='caret'></span>
                    </button>
                    <ul class='dropdown-menu' role='menu' aria-labelledby='campus-dropdown' style='width:100%'>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://marriottschool.byu.edu/advisement/advisement/contact'>
                            Business (Marriott School of Management)</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://ce.byu.edu/home/contact.php'>
                            Continuing Education</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://education.byu.edu/ess'>
                            David O. McKay School of Education</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://www.et.byu.edu/advisement/contact-us'>
                            Ira A. Fulton School of Engineering and Technology</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='https://fhssadv.byu.edu/Pages/ContactInfo.aspx'>
                           Family, Home and Social Sciences</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://cfac.byu.edu/advise/'>
                           Fine Arts and Communication</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://graduatestudies.byu.edu/'>
                           Graduate Studies</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://hplustest.weebly.com/contact-us.html'>
                            Humanities</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://kennedy.byu.edu/advisement/index.php'>
                            David M. Kennedy Center for International Studies</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://www.law2.byu.edu/site/current-students/advisement'>
                            J. Reuben Clark Law School</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://lifesciences.byu.edu/studentservices/'>
                            Life Sciences</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://nursing.byu.edu/academics/UnderGrad/advisement.aspx'>
                            Nursing</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://cpms.byu.edu/current-students/advisement-center/'>
                            Physical and Mathematical Sciences</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://religion.byu.edu/'>
                            Religious Education</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://ge.byu.edu/'>
                            Undergraduate Education</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='section' id='building'>
    <div class='container'>
        <h3>Building Info</h3>
        <div class='row' id='buildinglist'>
            <div class='col-xs-1'></div>
            <div class='col-xs-9' style='text-align:right'>
                <select class='building-search' ng-model='buildingInfo.selected'>
                    <option disabled>Select Building</option>
                    <option ng-repeat='building in buildings.buildingList' value='{{building.id}}'>
                        {{building.id}} - {{building.name}}</option>
                </select>
            </div>
            <div class='col-xs-2' style='text-align:left'>
                 <button class='btn btn-search' type='button' ng-click="getBuildingInfo(buildingInfo.selected)">
                     <span class='glyphicon glyphicon-search'></span>
                </button>
            </div>
        </div> <!-- end of search -->
        <div class='row' style='padding-top: 70px'>
            <div class='col-xs-12' style='font-size:150%'>
                <b>You searched for {{buildingInfo.echo_search}}</b><br><br>
                Building: {{buildingInfo.name}} <br>    
                Phone-number: {{buildingInfo.phone}} <br>
                Hours: {{buildingInfo.hours}} <br>
            </div>
        </div>
    </div>
</div>
<!-- about us section -->
<div class='section' id='about'>
    <div class='container'>
        <h3>About Us</h3>
        <div class='row' style='font-size:150%'>
            <p> In the fall of 2014, five BYU students took an Internet Programming class. 
                They struggled through multiple labs, awaiting the day that they could create 
                their own Web Application for the world. Finally that day came. This website is the result.
            </p>
        </div> <!-- end of about us paragraph -->
        <div class='row' style='text-align:center'><b>Contact us at:  </b><a id='email' href='mailto:webteam@ByuGetMeThere.com'>webteam@ByuGetMeThere.com</a></div><br>
        <div class='row' style='text-align:center'>
            <div class='col-md-1'></div>
            <div class='col-md-2'>
                <img id='aboutpic' src='/static/images/blaine.jpg'>
                <p><b>Blaine McGary</b><br>Server Scientist</p>
            </div>
            <div class='col-md-2'>
                <img id='aboutpic' src='/static/images/brynne.jpg'>
                <p><b>Brynne Hansen</b><br>CSS Controller</p>
            </div>
            <div class='col-md-2'>
                <img id='aboutpic' src='/static/images/cody.jpg'>
                <p><b>Cody Hefner</b><br>Schedule Surgeon</p>
            </div>
            <div class='col-md-2'>
                <img id='aboutpic' src='/static/images/cory.jpg'>
                <p><b>Cory Kirkland</b><br>Map Mastermind</p>
            </div>
            <div class='col-md-2'>
                <img id='aboutpic' src='/static/images/eric.jpg'>
                <p><b>Eric Romrell</b><br>Database Doctor</p>
            </div>
            <div class='col-md-1'></div>
        </div>
    </div>
</div>
</div>
    
    
</body>
