<!-- web application -->

<!DOCTYPE HTML>
<title>BYU Get Me There</title>
<head>
    <meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>
    <!-- css files -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Dosis:200, 400' >
    <link rel="stylesheet" href='css/bootstrap.min.css'>
    <link rel='stylesheet' href='custom.css'>
    <!-- javascript files -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
    <script src="app.js"></script>
    <script type="text/javascript"> // google maps
       var byu = new google.maps.LatLng(40.248770, -111.649273);
       var map;
       var positionmarker;
       var directionsDisplay;
       var directionsService = new google.maps.DirectionsService();

       function initialize(){
          directionsDisplay = new google.maps.DirectionsRenderer();
          var mapProp = {
             center:byu,
             zoom:15,
             mapTypeId: google.maps.MapTypeId.ROADMAP,
             zoomControlOptions:{
                style: google.maps.ZoomControlStyle.DEFAULT,
                position: google.maps.ControlPosition.LEFT_CENTER
             }
          };
  
          map=new google.maps.Map(document.getElementById('map'),mapProp);
          directionsDisplay.setMap(map);
       }

       // Try HTML5 geolocation
       function findMyLocation(){
       // window.alert("in findMyLocation");
       if(positionmarker != null){
          positionmarker.setMap(null);
       }
       if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
             var pos = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
             console.log("I found the user's position: " + pos);
  
             positionmarker = new google.maps.Marker({
                 map:map,
                 draggable:false,
                 animation: google.maps.Animation.DROP,
                 position: pos
             });
  
             map.setCenter(pos);
             // cody changed this - 
             // when the map is at 12 it shows all of provo, but
             // when the map is at 17 it's close enough to see individual BYU buildings.
             // map.setZoom(12);
             
              map.setZoom(17);
             

           }, function() {handleNoGeolocation(true);});
       } //closes if
       else {
         // Browser doesn't support Geolocation
         handleNoGeolocation(false);
       }
     }//closes findMyLocation
  
     function handleNoGeolocation(errorFlag) {
       if (errorFlag) {
         var content = 'Error: The Geolocation service failed.';
       } else {
         var content = 'Error: Your browser doesn\'t support geolocation.';
       }
       
       var options = {
         map: map,
         position: byu,
         content: content
       };
     
       var infowindow = new google.maps.InfoWindow(options);
       map.setCenter(options.position);
       map.setZoom(16);
     }

     function clearRoute(){
         if(positionmarker != null){
              positionmarker.setMap(null);
         }
         directionsDisplay.set('directions',null);
     }

     function getRoute(scope){
            var message = scope.getRoute();
	     scope.$apply();
	     if( scope.routeInfo.errorMessage == "" ){
            scope.toggleRouteBox();
            scope.$apply();
            var path = scope.routeInfo.path;
            var start = new google.maps.LatLng(path[0].latitude, path[0].longitude);
            var end = new google.maps.LatLng(path[path.length-1].latitude, path[path.length-1].longitude);
            var waypts = [];
            if( path.length >2 ){
                for( var i=1; i < path.length-1; i++ ){
                    waypts.push( { location: new google.maps.LatLng(path[i].latitude, path[i].longitude), stopover:true});
                }
            }
            var request = {
                origin: start,
                destination: end,
                waypoints: waypts,
                optimizeWaypoints: false,
                travelMode: google.maps.TravelMode.WALKING
            };
            directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });
        }
     }
     
     google.maps.event.addDomListener(window, 'load', initialize);
   
    </script>
</head>

<body ng-app='ByuGetMeThereApp'>
<div ng-controller='menuController' id="controller">
<!-- top menu bar -->
<div class='navbar-fixed-top' id='menubar'>
    <div class='row'>
        <!-- menu btn -->
        <div class='col-xs-4' id='menubtn'>
            <a ng-click='toggleMenu()' href='#optionspage'>
                <span class='glyphicon glyphicon-align-justify'></span>
            </a>
        </div>
        <div class='col-xs-4' id='logo'><img src="images/logo.png"></div>
        <!-- login option -->
        <div ng-click='toggleLogin()' ng-if='!userInfo.currentUser' class='col-xs-4' id='login'>Sign in</div>
        <div ng-click='logout()' ng-if='userInfo.currentUser' class='col-xs-4' id='login'>Logout</div>
    </div> 
</div> <!-- end of top menu bar -->

<!-- login page -->
<div class='section' ng-if='state.loginOpen' id='loginpage'>
    <div id='logininput'>
        <div class='row'>
            <div class='col-xs-12'><input class='form-control' type='text' 
                                          ng-model='userInfo.username' placeholder="Username"></div>
        </div>
        <div class='row'>
            <div class='col-xs-12'><input class='form-control' type='password' 
                                          ng-model='userInfo.password' placeholder='Password'></div>
        </div>
    </div> <!-- end of login input boxes -->
    <div class='row' id='loginbuttons'>
        <div class='col-xs-6' id='registerbutton'>
            <button type='button' class='btn btn-info' ng-click="register()">Register</button>
        </div>
        <div class='col-xs-6' id='loginbutton'>
            <button type='button' class='btn btn-info' ng-click="login()">Login</button>
        </div>
    </div> <!-- end of login buttons -->
    <div class='row' id='loginerror' ng-if='userInfo.errorMessage!=""'>
        <p>{{userInfo.errorMessage}}</p>
    </div>
</div> <!-- end of login page -->

<!-- options page -->   
<div ng-if='state.menuOpen' class='section' id='optionspage'>
    <div id='options'>
        <ul class='list-unstyled' id='optionslist'>
            <li><a ng-click='toggleMenu()' href='#directions'>Get Directions</a></li>
            <li><a ng-click='toggleMenu()' href='#schedule'>Map Schedule</a></li>
            <li><a ng-click='toggleMenu()' href='#campus'>Campus Links</a></li>
            <li><a ng-click='toggleMenu()' href='#building'>Building Info</a ></li>
            <li><a ng-click='toggleMenu()' href='#about'>About Us</a></li>
        </ul>
    </div>
    <div class='row' id='optionslogo'><img src='images/optionslogo.png'></div>

</div> <!-- end of options page -->

<!-- directions: map and route options -->
<div class='section' id='directions'>
    <!-- new route menu -->
    <div class='row' id='newroute'>
        <div class='col-xs-4' style="text-align:center">
            <button class='btn mapmarker' type='button' onclick="findMyLocation()">
               <span class='glyphicon glyphicon-map-marker'></span>
            </button>
        </div>
        <div class='col-xs-4' style='text-align:center;margin-top:3px;'>
            <button class='btn route' type='button' ng-click="toggleRouteBox()">Route</button>
        </div>
        <div class='col-xs-4' style='text-align:center;margin-top:3px;'> 
            <button type='button' class='btn clear' onclick="clearRoute()">Clear</button> 
        </div>
    </div> <!-- end of new route menu -->

    <!-- Route Box, only visible if the Route button is clicked -->
    <div class='section' ng-if='state.routeBoxOpen' id='routebox'>
        <div id='routeinput'>
            <div class='row'>
                <div class='col-xs-12'>
                   <!-- <div class='input-group'>
                        <span class='input-group-btn'>
                            <button class='btn btn-default' type='button' onclick="findMyLocation()">
                               <span class='glyphicon glyphicon-map-marker' style='color:#cc6600;font-size:150%'></span>
                            </button>
                        </span>
                        <input class='form-control' type='text' ng-model='routeInfo.startPoint' 
                               placeholder="Start">
                    </div> -->
                    <select placeholder='Start' ng-model='routeInfo.startPoint'>
                        <option ng-repeat='building in buildings.buildingList' value='{{building.id}}'>
                            {{building.id}} - {{building.name}}</option>
                    </select>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    <!-- <input class='form-control' type='text' ng-model='routeInfo.endPoint' placeholder='End'> -->
                    <select placeholder = 'End' ng-model='routeInfo.endPoint'>
                        <option ng-repeat='building in buildings.buildingList' value='{{building.id}}'>
                            {{building.id}} - {{building.name}}</option>
                    </select>
                </div>
            </div>
        </div> <!-- end of route box input fields -->
        <div class='row' id='routeboxbuttons'>
            <div class='col-xs-4' id='cancelroute'>
               <button type='button' class='btn btn-info' ng-click="toggleRouteBox()">Cancel</button>
            </div>
            <div class='col-xs-4' id='getroute' style='text-align:center'>
                <button type='button' class='btn btn-info' 
                        onclick=" getRoute(angular.element(document.getElementById('controller')).scope())">Get Route</button>
            </div>  
            <div class='col-xs-4' id='clearroute'>
               <button type='button' class='btn btn-info' onclick="clearRoute()">Clear</button>
            </div>  
        </div> <!-- end of route box buttons -->
        <div class='row' id='routeerror'>
            <p>{{getRoute()}}</p>
        </div>
   </div> <!-- end of Route Box -->   

    <!-- back to map -->
    <div class='container mapcontainer' id='map'></div>

    <div class='row' id='mapbuttons'>
        <div><button type='button' class='col-xs-4 btn btn-info' onclick="goTo('building')">Building Info</button></div>
        <div><button type='button' class='col-xs-4 btn btn-info' ng-disabled='routeInfo.lastEndPoint==""' onclick="goTo('floorplan')">Floor Plan</button></div>
        <div><button type='button' ng-disabled='!userInfo.currentUser' class='col-xs-4 btn btn-info'>Save Route</button></div>
    </div> <!-- end of map buttons -->
</div> <!-- end of directions section -->

<div ng-if='routeInfo.lastEndPoint!=""' class='section' id='floorplan'>
    <h3>Floor Plan</h3>
    <div class=' container floorplan-container'>
        <div class='row' style='position:absolute;top:190%;left:10%;width:85vw'>
            <div class='col-xs-6' style='text-align:left'><button style='width:100px' type='button' class='btn btn-info' ng-click='previousFloor()'>Previous</button></div>
            <div class='col-xs-6' style='text-align:right'><button style='width:100px' type='button' class='btn btn-info' ng-click='nextFloor()'>Next</button></div>
        </div>
        <iframe id='floorplan-pic' src='{{floorplans.list[floorplans.currentFloor]}}'></iframe>

        
    </div>
</div>

<div class='section' id='schedule'>
    <div class='container'>
        <h3>Enter Your Schedule</h3>
        <div class='row' id='class'>
            <div class='col-xs-2'>
                <button class='btn' id='rmclass' type='button'>
                    <span id='minus' class="glyphicon glyphicon-minus-sign"></span>
                </button>
            </div>
            <div class='col-xs-10'>CS 142 - TMCB 1170<br>MWF - 9:00am</div>  
        </div>
        <div class='row' id='class'>
            <div class='col-xs-2'>
                <button class='btn' id='rmclass' type='button'>
                    <span id='minus' class="glyphicon glyphicon-minus-sign"></span>
                </button>
            </div>
            <div class='col-xs-10'>MATH 113 - JKB 3108<br>MWF - 11:00am</div>
        </div>   
        <div class='row' id='class'>
            <div class='col-xs-2'>
                <button class='btn' id='addclass' type='button'>
                    <span id='plus' class='glyphicon glyphicon-plus-sign'></span>
                </button>
            </div>
        </div>
        <div class='buttongroup'>
            <button type='button' ng-disabled='!userInfo.currentUser' class='col-xs-9 btn btn-info btn-lg'>Load Schedule</button>
            <button type='button' ng-disabled='!userInfo.currentUser' class='col-xs-9 btn btn-info btn-lg'>Save Schedule</button>
            <button type='button' class='col-xs-9 btn btn-info btn-lg'>Map Schedule</button>
        </div>
    </div>
</div>

<div class='section' id='campus'>
    <div class='container'>
        <h3>Campus Links</h3>
        <div class='row'>
            <div class='col-xs-6' style='text-align:right;padding-right:0;font-size:120%'>
                BYU Home Page
            </div>
            <div class='col-xs-6' style='text-align:left;padding-left:50px'>
                <a href='http://home.byu.edu/home/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6' style='text-align:right;padding-right:0;font-size:120%'>
                Contact BYU
            </div>
            <div class='col-xs-6' style='text-align:left;padding-left:50px'>
                <a href='http://home.byu.edu/home/contact/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6' style='text-align:right;padding-right:0;font-size:120%'>
                Lost and Found
            </div>
            <div class='col-xs-6' style='text-align:left;padding-left:50px'>
                <a href='https://lostandfound.byu.edu/content/lost-and-found-contact-information'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6' style='text-align:right;padding-right:0;font-size:120%'>
                WSC Information Desk
            </div>
            <div class='col-xs-6' style='text-align:left;padding-left:50px'>
                <a href='https://wscinfodesk.byu.edu/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6' style='text-align:right;padding-right:0;font-size:120%'>
                ID Center
            </div>
            <div class='col-xs-6' style='text-align:left;padding-left:50px'>
                <a href='https://idcenter.byu.edu/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6' style='text-align:right;padding-right:0;font-size:120%'>
                BYU Counseling Center
            </div>
            <div class='col-xs-6' style='text-align:left;padding-left:50px'>
                <a href='https://caps.byu.edu/paperwork'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6' style='text-align:right;padding-right:0;font-size:120%'>
                University Advisement
            </div>
            <div class='col-xs-6' style='text-align:left;padding-left:50px'>
                <a href='https://universityadvisement.byu.edu/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6' style='text-align:right;padding-right:0;font-size:120%'>
                Career Services
            </div>
            <div class='col-xs-6' style='text-align:left;padding-left:50px'>
                <a href='https://ucs.byu.edu/'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-6' style='text-align:right;padding-right:0;font-size:120%'>
                CougarEat
            </div>
            <div class='col-xs-6' style='text-align:left;padding-left:50px'>
                <a href='http://dining.byu.edu/cougareat/hours.html'>
                    <span class='glyphicon glyphicon-arrow-right'></span>
                </a>
            </div>
        </div>
        <div class='row' style='padding-top:10px'>
            <div class='col-md-4'></div>
            <div class='col-xs-12 col-md-4'>
                <div class='dropdown' style='text-align:center'>
                    <button class='btn btn-default dropdown-toggle' type='button' 
                            id='campus-dropdown' data-toggle='dropdown' aria-expanded='true' style='width:100%'>
                        Campus Advisement Centers
                        <span class='caret'></span>
                    </button>
                    <ul class='dropdown-menu' role='menu' aria-labelledby='campus-dropdown' style='width:100%'>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://marriottschool.byu.edu/advisement/advisement/contact'>
                            Business (Marriott School of Management)</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://ce.byu.edu/home/contact.php'>
                            Continuing Education</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://education.byu.edu/ess'>
                            David O. McKay School of Education</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://www.et.byu.edu/advisement/contact-us'>
                            Ira A. Fulton School of Engineering and Technology</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='https://fhssadv.byu.edu/Pages/ContactInfo.aspx'>
                           Family, Home and Social Sciences</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://cfac.byu.edu/advise/'>
                           Fine Arts and Communication</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://graduatestudies.byu.edu/'>
                           Graduate Studies</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://hplustest.weebly.com/contact-us.html'>
                            Humanities</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://kennedy.byu.edu/advisement/index.php'>
                            David M. Kennedy Center for International Studies</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://www.law2.byu.edu/site/current-students/advisement'>
                            J. Reuben Clark Law School</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://lifesciences.byu.edu/studentservices/'>
                            Life Sciences</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://nursing.byu.edu/academics/UnderGrad/advisement.aspx'>
                            Nursing</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://cpms.byu.edu/current-students/advisement-center/'>
                            Physical and Mathematical Sciences</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://religion.byu.edu/'>
                            Religious Education</a>
                        </li>
                        <li role='presentation'>
                            <a role='menuitem' tabindex='-1' href='http://ge.byu.edu/'>
                            Undergraduate Education</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='col-md-4'></div>
        </div>
    </div>
</div>

<div class='section' id='building'>
    <div class='container'>
        <h3>Building Info</h3>
        <div class='row' id='buildinglist'>
            <div class='col-xs-10 col-md-11'>
                <!-- <div class='input-group'>
                    <input type='text' class='form-control' ng-model='buildingInfo.current' 
                           id='buildingsearch' placeholder='Search'>
                        <span class='input-group-btn'>
                            <button class='btn btn-default' type='button'
                                    ng-click="getBuildingInfo()">
                                <span class='glyphicon glyphicon-search' style="color:#cc6600;font-size:150%"></span>
                            </button>
                        </span>
                </div> -->
                <select placeholder='Select Building' ng-model='buildingInfo.selected'>
                    <option ng-repeat='building in buildings.buildingList' value='{{building.id}}'>
                        {{building.id}} - {{building.name}}</option>
                </select>
            </div>
            <div class='col-xs-2 col-md-1'>
                 <button class='btn btn-default' type='button' ng-click="getBuildingInfo()">
                     <span class='glyphicon glyphicon-search' style="color:#cc6600;font-size:150%"></span>
                </button>
            </div>
        </div> <!-- end of search -->
        <div class='row' style='padding-top: 70px'>
            <div class='col-xs-12' style='font-size:150%'>
                <b>You searched for {{buildingInfo.echo_search}}</b><br><br>
                Current: {{buildingInfo.selected}} <br>
                Building: {{buildingInfo.name}} <br>    
                Phone-number: {{buildingInfo.phone}} <br>
                Hours: {{buildingInfo.hours}} <br>
            </div>
        </div>
    </div>
</div>

<div class='section' id='about'>
    <div class='container'>
        <h3>About Us</h3>
        <div class='row' style='font-size:150%'>
            <p> In the fall of 2014, five BYU students took an Internet Programming class. 
                They struggled through multiple labs, awaiting the day that they could create 
                their own Web Application for the world. Finally that day came. This is the result.
            </p>
        </div>
        <div class='row' style='text-align:center'><b>Contact us at:</b> webteam@ByuGetMeThere.com</div><br>
        <div class='row' style='text-align:center'>
            <div class='col-md-1'></div>
            <div class='col-md-2'>
                <img id='aboutpic' src='images/cody.jpg'>
                <p><b>Cody Hefner</b><br>Schedule Surgeon</p>
            </div>
            <div class='col-md-2'>
                <img id='aboutpic' src='images/cory.jpg'>
                <p><b>Cory Kirkland</b><br>Map Mastermind</p>
            </div>
            <div class='col-md-2'>
                <img id='aboutpic' src='images/blaine.jpg'>
                <p><b>Blaine McGary</b><br>Server Scientist</p>
            </div>
            <div class='col-md-2'>
                <img id='aboutpic' src='images/brynne.jpg'>
                <p><b>Brynne Hansen</b><br>CSS Controller</p>
            </div>
            <div class='col-md-2'>
                <img id='aboutpic' src='images/eric.jpg'>
                <p><b>Eric Romrell</b><br>Database Doctor</p>
            </div>
            <div class='col-md-1'></div>
        </div>
    </div>
</div>
</div>
    <script>
        function display(){
            window.alert("in display");
        }

        function goTo(id){
            window.scroll(0,findPos(document.getElementById(id)));
        }
        
        function findPos(obj) {
            var curtop = 0;
            if (obj.offsetParent) {
            do {
                curtop += obj.offsetTop;
            } while (obj = obj.offsetParent);
            return [curtop];
        }
}
    </script>
    
</body>
